footer.py-3.my-4
  ul.nav.justify-content-center.border-bottom.pb-3.mb-3
    li.nav-item
      a.nav-link.px-2.text-muted(href='/') Home
    li.nav-item
      a.nav-link.px-2.text-muted(href='/menu') Menu
    li.nav-item
      a.nav-link.px-2.text-muted(href='/canteen') Canteens
    li.nav-item
      a.nav-link.px-2.text-muted(href='/about') About
  p.text-center.text-muted &copy; 2023 Cosmos FOA
