header.p-3.text-bg-dark
	.container
		.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
			a.d-flex.align-items-center.mb-2.mb-lg-0(href='/')
				img.bi.me-2(src='/assets/logo.svg' width='40' height='32' role='img')
			ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
				li
					a.nav-link.px-2.text-secondary(href='/') Home
				li
					a.nav-link.px-2.text-white(href='/menu') Menu
				li
					a.nav-link.px-2.text-white(href='/canteen') Canteens
				if user
					li
						a.nav-link.px-2.text-white(href='/my-profile') Profile
				li
					a.nav-link.px-2.text-white(href='/about') About
			form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role='search')
				input.form-control.form-control-dark.text-bg-dark(type='search' placeholder='Search...' aria-label='Search')
			if user
				.cart
					a.nav-link.px-2.text-white(href='/cart')
						i.fa-solid.fa-shopping-cart
						span.badge.bg-danger.text-dark
							| 1
				a#logoutBtn.btn.btn-warning(type='button') Log out 
					i.fa-solid.fa-right-from-bracket
			else
				.text-end
					button#login.btn.btn-outline-light.me-2(type='button') Login
					button#signup.btn.btn-warning(type='button') Sign-up