extends base

block content
	main.container
		h1.text-center.mt-4.mb-4 Canteens of Cosmos
		.row.mb-2
			.col-md-6
				.row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
					.col.p-4.d-flex.flex-column.position-static
						h3.mb-0.text-primary Block A
						.mb-1.text-muted Address
						p.card-text.mb-auto
							| This is a wider card with supporting text below as a natural lead-in to additional content.
						a.stretched-link(href='#') Show Menu
					.col-auto.d-none.d-lg-block
						img.canteen(src='img/canteens/block-A.JPG' alt='')
			.col-md-6
				.row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
					.col.p-4.d-flex.flex-column.position-static
						strong.d-inline-block.mb-2.text-success Block B
						h3.mb-0 Post title
						.mb-1.text-muted Nov 11
						p.mb-auto
							| This is a wider card with supporting text below as a natural lead-in to additional content.
					.col-auto.d-none.d-lg-block
						svg.bd-placeholder-img(width='200' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
							title Placeholder
							rect(width='100%' height='100%' fill='#55595c')
							text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
			.col-md-6
				.row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
					.col.p-4.d-flex.flex-column.position-static
						strong.d-inline-block.mb-2.text-success Block C
						h3.mb-0 Post title
						.mb-1.text-muted Nov 11
						p.mb-auto
							| This is a wider card with supporting text below as a natural lead-in to additional content.
					.col-auto.d-none.d-lg-block
						svg.bd-placeholder-img(width='200' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
							title Placeholder
							rect(width='100%' height='100%' fill='#55595c')
							text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
