extends base

block content
	.album.py-5.bg-light
		.container
			.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
				.col
					.card.shadow-sm
						img.card-img-top(src='img/foods/momo.jpg' alt='')
						.card-body
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							.d-flex.justify-content-between.align-items-center
								button.btn.btn-primary(type='button') Add to Cart
								small.display-6 Rs. 
				.col
					.card.shadow-sm
						img.card-img-top(src='img/foods/momo.jpg' alt='')
						.card-body
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							.d-flex.justify-content-between.align-items-center
								button.btn.btn-primary(type='button') Add to Cart
								small.display-6 Rs. 
				.col
					.card.shadow-sm
						img.card-img-top(src='img/foods/momo.jpg' alt='')
						.card-body
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							.d-flex.justify-content-between.align-items-center
								button.btn.btn-primary(type='button') Add to Cart
								small.display-6 Rs. 
				.col
					.card.shadow-sm
						img.card-img-top(src='img/foods/momo.jpg' alt='')
						.card-body
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							.d-flex.justify-content-between.align-items-center
								button.btn.btn-primary(type='button') Add to Cart
								small.display-6 Rs. 
				.col
					.card.shadow-sm
						img.card-img-top(src='img/foods/momo.jpg' alt='')
						.card-body
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							.d-flex.justify-content-between.align-items-center
								button.btn.btn-primary(type='button') Add to Cart
								small.display-6 Rs. 
				.col
					.card.shadow-sm
						img.card-img-top(src='img/foods/momo.jpg' alt='')
						.card-body
							p.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							.d-flex.justify-content-between.align-items-center
								button.btn.btn-primary(type='button') Add to Cart
								small.display-6 Rs. 
